input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.add {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    height: 32px;
    &__text {
        color: rgba(255, 255, 255, 1);
        margin-right: 10px;
    }
}
.add:hover {
    background-color: rgba(130, 127, 127, 0.35);
}
.treeWrapper {
    &__no {
        padding: 20px;
    }
}
.section {
    width: calc(auto - 500px);
    display: grid;
    align-items: center;
    grid-template-columns: 115px 1fr 207px 207px 207px 207px;
    margin: 0 12px 12px 12px;
    padding-top: 12px;
    border-top: 1px solid rgba(130, 127, 127, 0.9);
    &__item {
        color: rgba(255, 255, 255, 1);
        background: transparent;
        border: 0px solid rgba(255, 255, 255, 0.34);
        margin-right: 30px;
        margin-left: 12px;
        height: 30px;
    }
    &__level {
        display: flex;
    }
    &__input {
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.34);
        border-radius: 5px;
        margin-right: 30px;
        margin-left: 12px;
        height: 30px;
        color: rgba(255, 255, 255, 0.34);
    }
    &__img {
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }
    &__icon {
        border: 0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 29px;
        height: 29px;
        cursor: pointer;
        &_hover {
            background-color: rgba(130, 127, 127, 0.35);
        }
    }
    &__line {
        position: absolute;
        overflow: hidden;
        background-color: #fff;
        z-index: 90;
        &_gorizont {
            width: 10px;
            height: 1px;
            top: 15px;
            left: 4px;
        }
        &_vertical {
            width: 1px;
            height: 57px;
            top: -41px;
            left: 4px
        }
        &_continuation {
            height: 157px;
            width: 1px;
            top: 16px;
            left: 4px
        }
    }
}
.parent {
    margin-left: 10px;
    position: relative;
    &__continuation {
        height: 100%;
        position: absolute;
        overflow: hidden;
        background-color: #fff;
        z-index: 90;
        width: 1px;
        top: -16px;
        left: 28px
    }
}